.contextmenu-level {
    font: 1em menu;
    border: solid 1px gray;
    border-radius: 0.2em;
    background-color: whitesmoke;
}

.contextmenu li {
    margin: 0.1em;
}

.contextmenu .contextmenu-label {
    margin: 0 1em;
}

.contextmenu .contextmenu-label:not(:only-child)::after {
    content: '>';
    right: -0.25em;
    position: absolute;
    height: 1em;
    width: 1em;
}

.contextmenu .contextmenu-group>*:not(:first-child) {
    border-top: solid 1px gray;
}